<ion-header [translucent]="true" class="fifa-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ player.name.display }}</ion-title>
        <ion-avatar slot="start" class="player-avatar">
            <ion-img [src]="'https://resources.premierleague.com/premierleague/photos/players/40x40/' + player.altIds.opta + '.png'"></ion-img>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fifa-content">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ player.name.display }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="player-details">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{ player.name.display }}</ion-card-title>
                <ion-card-subtitle>{{ player.info.position }} | #{{ player.info.shirtNum }}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Position</ion-label>
                        <ion-note slot="end">{{ player.info.position }}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label>Shirt Number</ion-label>
                        <ion-note slot="end">{{ player.info.shirtNum }}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label> Birth Country</ion-label>
                        <ion-note slot="end">{{ player.nationalTeam.country }}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label>Birth Date</ion-label>
                        <ion-note slot="end">{{ player.birth.date.label }}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label>Age</ion-label>
                        <ion-note slot="end">{{ player.age }}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label>National Team</ion-label>
                        <ion-note slot="end">{{ player.nationalTeam.country }}</ion-note>
                        <ion-img [src]="'https://resources.premierleague.com/premierleague/flags/' + player.nationalTeam.isoCode + '@x2.png'"></ion-img>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
