.page2-header {
  background: linear-gradient(90deg, #ff0000, #b30000); /* Červený barevný  hlava */
  color: (90deg, #2c3e50, #4ca1af);
}

.page2-content {
  background-color:(90deg, #2c3e50, #4ca1af);
}

.player-col {
  display: flex;
  justify-content: center;
}

.player-item {
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  background-color:(90deg, #2c3e50, #4ca1af);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:not(:last-child) {
    border-bottom: 2px solid #ff0000; /* Barva podbarvení mezi hráči */
  }
}

.player-avatar {
  width: 50px;
  height: 50px;
}

.player-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-label h3 {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: bold;
}

.player-label p {
  margin: 0;
  font-size: 0.8rem;
}

