.page2-header {
  background: linear-gradient(90deg, #3498db, #2c3e50); /* Změněný barevný gradient pro hlavičku */
  color: #ffffff;
}

.page2-content {
  background-color: #ecf0f1;
}

.player-avatar {
  width: 50px; /* Zvětšená velikost obrázku hráče */
  height: 50px;
}

