<ion-header [translucent]="true" class="page2-header">
    <ion-toolbar>
        <ion-title>
            Players
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page2-content">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Players</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item *ngFor="let player of players2$ | async" routerLink="/player" (click)="transferPlayer2(player)">
            <ion-avatar slot="start" class="player-avatar">
                <ion-img [src]="'https://resources.premierleague.com/premierleague/photos/players/40x40/' + player.altIds.opta + '.png'"></ion-img>
            </ion-avatar>
            <ion-label>{{ player.name.display }}</ion-label>
            <ion-note slot="end">
                {{ player.birth.date.label }}
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>
