<ion-header [translucent]="true" class="page2-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Players</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar color="primary" [debounce]="300" (ionInput)="searchPlayer($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page2-content">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Players</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let player of players2$ | async" class="player-col">
                <ion-card class="player-card" (click)="transferPlayer2(player)">
                    <ion-card-header>
                        <ion-avatar class="player-avatar">
                            <ion-img [src]="'https://resources.premierleague.com/premierleague/photos/players/40x40/' + player.altIds.opta + '.png'"></ion-img>
                        </ion-avatar>
                        <ion-card-title>{{ player.name.display }}</ion-card-title>
                        <ion-card-subtitle>{{ player.birth.date.label }}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
